<!DOCTYPE>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Student all - WSB CRUD</title>
  <meta name="author" content="Wojciech Jarczak">
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% bootstrap_messages %}
</head>

<body>
  <a href="/student/create"> Create new student</a>
  <hr/>
  <h1>This is list of our students</h1>
  {% for student in students %}
  <div class="student">
  <a href="/student/{{student.pk}}">{{student.first_name}}  {{student.last_name}}</a>
  </div>
  {% endfor %}
</body>
</html>