<!DOCTYPE>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Student detail - WSB CRUD</title>
  <meta name="author" content="Wojciech Jarczak">
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% bootstrap_messages %}
</head>
<body>
  <a href="/student/all"> Go back to all students</a>
  <h1>This is detailed view of {{student.first_name}}  {{student.last_name}}</h1>
  <p>This person identity number is: {{student.identityNumber}}</p>
  <p>This person address is: {{student.address}}</p>
  <p>This person department is: {{student.department}}</p>
  <p>This person representative is: {{student.representative}}</p>

  <table>
    <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Age</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Peter Parker</td>
        <td>16</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Clark Kent</td>
        <td>34</td>
    </tr>
</table>
</body>
</html>